
.DS_Store
.theos/build_session
.theos/_/DEBIAN/control
.theos/packages/com.gamersnail.tweakscheduler-0.0.1
.theos/obj/debug/TweakSchedulerPreferences.bundle/TweakSchedulerPreferences
.theos/obj/debug/TweakSchedulerPreferences.bundle/Root.plist
.theos/obj/debug/TweakSchedulerPreferences.bundle/Info.plist
.theos/obj/debug/TweakScheduler.dylib
.theos/obj/debug/armv7/TweakSchedulerPreferences.bundle/TweakSchedulerPreferences.dSYM/Contents/Resources/DWARF/TweakSchedulerPreferences
.theos/obj/debug/armv7/TweakSchedulerPreferences.bundle/TweakSchedulerPreferences.dSYM/Contents/Info.plist
.theos/obj/debug/armv7/TweakSchedulerPreferences.bundle/TweakSchedulerPreferences
.theos/obj/debug/armv7/TSPRootListController.m.a9a849b9.Td
.theos/obj/debug/armv7/TSPRootListController.m.a9a849b9.o
.theos/obj/debug/arm64e/TweakScheduler.dylib.dSYM/Contents/Resources/DWARF/TweakScheduler.dylib
.theos/obj/debug/arm64e/TweakScheduler.dylib.dSYM/Contents/Info.plist
.theos/obj/debug/arm64e/TweakScheduler.dylib
.theos/obj/debug/arm64e/Tweak.x.1d54fcae.Td
.theos/obj/debug/arm64e/Tweak.x.1d54fcae.o
.theos/obj/debug/arm64/TweakSchedulerPreferences.bundle/TweakSchedulerPreferences.dSYM/Contents/Resources/DWARF/TweakSchedulerPreferences
.theos/obj/debug/arm64/TweakSchedulerPreferences.bundle/TweakSchedulerPreferences.dSYM/Contents/Info.plist
.theos/obj/debug/arm64/TweakSchedulerPreferences.bundle/TweakSchedulerPreferences
.theos/obj/debug/arm64/TweakScheduler.dylib.dSYM/Contents/Resources/DWARF/TweakScheduler.dylib
.theos/obj/debug/arm64/TweakScheduler.dylib.dSYM/Contents/Info.plist
.theos/obj/debug/arm64/TweakScheduler.dylib
.theos/obj/debug/arm64/Tweak.x.4e3644fe.Td
.theos/obj/debug/arm64/Tweak.x.4e3644fe.o
.theos/obj/debug/arm64/TSPRootListController.m.c425fc3a.Td
.theos/obj/debug/arm64/TSPRootListController.m.c425fc3a.o
.theos/obj/debug/.stamp
.theos/last_package
.theos/fakeroot
.theos/_/Library/PreferenceLoader/Preferences/TweakSchedulerPreferences.plist
.theos/_/Library/PreferenceBundles/TweakSchedulerPreferences.bundle/TweakSchedulerPreferences
.theos/_/Library/PreferenceBundles/TweakSchedulerPreferences.bundle/Root.plist
.theos/_/Library/PreferenceBundles/TweakSchedulerPreferences.bundle/Info.plist
.theos/_/Library/MobileSubstrate/DynamicLibraries/TweakScheduler.plist
.theos/_/Library/MobileSubstrate/DynamicLibraries/TweakScheduler.dylib
