Package: com.gamersnail.tweakscheduler
Name: TweakScheduler
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Nelson Dane
Author: Nelson Dane
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
